body {
	background: white;
	color: navy;
}

.test {
  transform: scale(0.5, 0.5);
}

.view-container {
  border: 1px solid red;
}

.desktop {
  width: 1050px;
  height: 600px;
  position: relative;
  margin-bottom: 50rem;
}

.desktop iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 1400px;
  height: 800px;
  transform: scale(0.75, 0.75);
  transform-origin: 0 0;
}

.tablet {
  width: 600px;
  height: 800px;
}

.mobile {
  width: 375px;
  height: 812px;
}
